@charset "UTF-8";
@use '_reset';
/*브라우저가 그림그리는 순서\
1. Render Tree 만들기
2. Layout 잡기 - 가상의 네모 박스 그리기(위치잡기) width, margin, padding 등 처리
3. Paint 하기 - 픽셀에 색칠 color 처리 
4. Composite 처리 - transform 등 opacity 처리

갑자기 width(margin, padding 등등) 변경하면 2 -> 3 -> 4 전부 다시 처리
color 바꾸면 3 -> 4
4번 내용을 수정하면 4만 다시!(다른 쓰레드에서 처리해줌. 속도  up)

반응속도에 차이가 크다.*/
.ani-text {
  text-align: center;
  /*복잡한 애니메이션 정의는 @keyframes*/
}

.ani-text:hover {
  /*@keyframes 넣고싶으면 - animation-name & animation-duration 사용*/
  -webkit-animation-name: 와리가리;
          animation-name: 와리가리;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 5;
          animation-iteration-count: 5;
}

@-webkit-keyframes 와리가리 {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  75% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes 와리가리 {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  75% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

ul {
  list-style: none;
  width: 30%;
}

ul li {
  border: 1px solid #5f5e5e;
  padding: 10px;
}

ul li:hover {
  background-color: red;
}

ul li:nth-child(-n+2) {
  border-bottom: none;
}

ul .active {
  background-color: #2a2af2;
  color: white;
}

.div-1, .div-2, .div-3 {
  width: 80%;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.div-1 {
  background-color: rgba(191, 225, 192, 0.5);
  color: #739d6f;
}

.div-2 {
  background-color: rgba(119, 174, 246, 0.5);
  color: #47648a;
}

.div-3 {
  background-color: rgba(240, 224, 131, 0.5);
  color: #8c834e;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px;
}

.col-md-6 {
  width: 100%;
  height: 50px;
  border-radius: 1px;
  border: 0.5px solid rgba(116, 55, 116, 0.5);
  background-color: rgba(118, 56, 118, 0.5);
  border-collapse: collapse;
}

@media screen and (min-width: 650px) {
  .col-md-6 {
    width: 50%;
    height: 50px;
    border-radius: 1px;
    border: 0.5px solid rgba(116, 55, 116, 0.5);
    background-color: rgba(118, 56, 118, 0.5);
    border-collapse: collapse;
  }
}

.col-6 {
  width: 50%;
  height: 50px;
  border-radius: 1px;
  border: 0.5px solid rgba(116, 55, 116, 0.5);
  background-color: rgba(118, 56, 118, 0.5);
  border-collapse: collapse;
}

.col-4 {
  width: 33.33%;
  height: 50px;
  border-radius: 1px;
  border: 0.5px solid rgba(116, 55, 116, 0.5);
  background-color: rgba(118, 56, 118, 0.5);
  border-collapse: collapse;
}

.col-3 {
  width: 25%;
  height: 50px;
  border-radius: 1px;
  border: 0.5px solid rgba(116, 55, 116, 0.5);
  background-color: rgba(118, 56, 118, 0.5);
  border-collapse: collapse;
}

.col-2 {
  width: 16.66%;
  height: 50px;
  border-radius: 1px;
  border: 0.5px solid rgba(116, 55, 116, 0.5);
  background-color: rgba(118, 56, 118, 0.5);
  border-collapse: collapse;
}
/*# sourceMappingURL=sass숙제.css.map */